#page-title-line {
    background-color: darkgreen;
}
h1 {
    color: white;
    text-align: center;
    font-size: 35px;
}

#map {
    height: 800px;
}

.hidden {
    display: none;
}

.legend-control {
    background-color : rgba(255,255,255,0.9);
    padding: 10px;
}



/*referring to popup contents*/
.popup-button{
    background-color: darkgreen;
    border-radius: 15px;
    margin: 2px;
}
.popup-button span {
    color: white;
}
.leaflet-popup-content h3 {
    background-color: green;
    color: white;
}
table {
    margin-bottom: 10px;
}
div.leaflet-popup-content {
    width : 250px;
}


/*refering to the accordan stuffs*/
.ui-state-active {
    background-color: green;
}

.park-tooltip:hover{
    background-color: green;
    color: white;
    -webkit-transition: width 2s; /* Safari prior 6.1 */
    transition: background-color 1s, color 1s;
    transition-timing-function : ease-out;
}

.park-tooltip{
    padding: 4px;
    border-radius: 2px;
    cursor: pointer;
}

.park-tooltip::after{
    content: ",";
}